#header .hero-head .container #site-navigation ul.nav-menu li.menu-item-has-children a::after {
  margin-top: 5px; }

#header .hero-head .container #site-navigation .nav-left a img {
  margin-left: 0; }

.page-template-resource-center .more.column .inner a.white-btn {
  display: block;
  width: 50%; }

*::-ms-backdrop, .page-template-resource-center .more.column .inner a.white-btn {
  display: block;
  width: 50%; }
