#header  {
    .hero-head {
        .container {
            #site-navigation{
                ul.nav-menu{
                    li.menu-item-has-children {
                        a::after {
                            margin-top: 2px;
                        }
                    } 
                }
            }
        }
    }
}