#header {
    .hero-head {
        .container {
            max-width: 1200px!important;
            .login {
                height: 65px;
                margin-bottom: 1em;
                a.button {
                    font-size: 1.3em;
                    padding: .5em 1em;
                    display: block;
                    height: auto;
                    top: 1em;
                }
            }
            #site-navigation {
                .nav-left {
                    padding-top: 5px;
                    @include flexAlign(flex-start);
                    a {
                        padding: 0;
                        img {
                            //margin-left: -60px;
                            max-height: 120px;
                        }
                    }
                }
                ul.nav-menu {
                    max-width: 100%;
                    padding: 20px 0px;
                    position: relative;
                    top: 0px;
                    left: 0px;
                    right: 20px;
                    box-shadow: none;
                    //margin-bottom: 1em; 
                    .nav-item {
                        a {
                            font-size: 1.1em;
                        }
                        &.is-tab {
                            padding-left: 8px;
                            padding-right: 8px;
                            &.menu-item-has-children {
                                padding-right: 8px;
                            }
                        }
                        &.blue-btn {
                            padding-left: 10px;
                            padding-right: 10px;
                            margin-left: .5em;
                            border-radius: 5px;
                            background: $brnavblue;
                            a {
                                color: #fff;
                            }
                            &:hover {
                                border-bottom: 0px;
                                background: darken($brnavblue, 5%);
                            }
                        }
                    }
                    li {
                        //margin-top: 30px;
                        padding-top: 1em;
                        padding-bottom: 1em;
                        position: static;
                        &:hover {
                            background-color: $brsubmenu;
                        }
                        &.menu-item-has-children {
                            &:after {
                                content: none;
                            }
                            a {
                                &:after {
                                    display: block;
                                    font-family: 'FontAwesome';
                                    content: "\f054";
                                    font-size: .6em;
                                    margin-top: 3px;
                                    margin-left: 10px;
                                    padding: 0;
                                    /* position: absolute; */
                                    transition: .4s all;
                                    color: #fff;
                                    -ms-transform: rotate(90deg);
                                    -webkit-transform: rotate(90deg);
                                    transform: rotate(90deg);
                                    float: right;
                                }
                            }
                            &:hover {
                                a {
                                    &:after {
                                        color: $brnavblue;
                                    }
                                }
                                .subContainer {
                                    @include flex;
                                    ul.dropdown-menu {
                                        display: block!important;
                                    }
                                }
                            }
                            .subContainer {
                                left: auto;
                                right: 0;
                                top: 71px;
                                .menuCta {
                                    @include flexOrder(1);
                                    padding: 0 2em .5em 0em;
                                    h2 {
                                        color: $brnavblue;
                                        font-weight: 600;
                                        font-size: 1.25em;
                                        margin-bottom: 1em;
                                    }
                                    a.button {
                                        background: $brdeeppurple;
                                        border: 0px;
                                        color: #fff;
                                        font-size: .9em;
                                        padding: .75em 1.5em;
                                        font-weight: 300;
                                        &:hover {
                                            background: darken($brdeeppurple, 5%);
                                        }
                                        &:after {
                                            content: none;
                                        }
                                    }
                                }
                                ul.dropdown-menu {
                                    margin: 0;
                                    @include flexOrder(2);
                                    width: 350px;
                                    padding-left: 1.5em;
                                    position: relative;
                                    float: right;
                                    top: auto;
                                    right: auto;
                                    border-left: 1px solid #ddd;
                                    li {
                                        margin: 0;
                                        padding: .1em 0;
                                        a {
                                            font-size: 1.1em;
                                            font-weight: 300;
                                            &:after {
                                                content: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.green-btn {
                            background: $brgreen;
                            &:hover {
                                background: darken($brgreen, 5%);
                            }
                        }
                    }
                }
                .phone-header {
                    top: 65px;
                    left: 60px;
                    font-size: .9em;
                    .fa {
                        font-size: 1em;
                    }
                }
                a.search {
                    position: relative;
                    //margin-top: 10px;
                    right: 0;
                    transition: .4s all;
                    padding: 0 0 0 1em;
                }
                .searchForm {
                    transition: .4s all;
                    top: 91px;
                    right: 0;
                    max-width: 400px;
                }
            }
        }
    }
    &.shrink {
        .hero-head {
            .container {
                #site-navigation {
                    .nav-left {
                        a img {
                            margin-left: 0;
                            max-height: 45px;
                        }
                    }
                    ul.nav-menu {
                        padding: 15px 0px;
                        li {
                            padding-top: .5em;
                            padding-bottom: .5em;
                            &.menu-item-has-children {
                                .subContainer {
                                    top: 52px;
                                }
                            }
                        }
                    }
                    a.search {
                        padding: 0 0 0 10px;
                        top: 24px;
                    }
                    .searchForm {
                        top: 67px;
                    }
                    .phone-header {
                        left: 42px;
                        top: 45px;
                        //top: 7px;
                        //font-size: 1em;
                    }
                }
            }
        }
    }
}

#spacer {
    height: 91px;
}

article.section {
    .container {
        .background {
            .overlay {
                padding: 10em 1em;
                h1 {
                    font-size: 4.5em;
                }
                h2 {
                    font-size: 2.5em;
                }
                header.entry-header, .entry-content {
                    max-width: 1030px;
                    margin: 0 auto;
                }
            }
        }
    }
}

/* Homepage */
.home {
    article.section {
        .container {
            .background {
                .overlay {
                    padding: 6em 1em;
                }
            }
        }
    }
    .features {
        .columns {
            @include alignContent(stretch);
            .column {
                @include flex;
                .feature {
                    //height: 300px;
                    .overlay {
                        top: 195px;
                        //height: 400px;
                        .front {
                            margin-bottom: 2.5em;
                            h3 {
                                font-size: 1.75em;
                                &.nomargin {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .company {
        padding: 5em 2em;
        .container {
            margin: 0 auto;
            max-width: 1030px;
        }
    }
    .blog-posts {
        .container {
            max-width: 1030px;
            h2 {
                font-size: 3em;
            }
            .posts {
                .post {
                    .meta {
                        font-size: .9em;
                    }
                }
            }
            .social {
                padding: 1.5em;
            }
        }
    }
    .schedule {
        padding: 3em 0;
        //display: block;
        .img {
            max-width: 650px;
        }
        .container {
            padding: 8em 0;
            max-width: 400px;
            .text {
                padding-left: 6em;
                h2 {
                    line-height: 125%;
                    font-size: 2.5em;
                    font-weight: 300;
                }
                p {
                    margin: 1.5em 0;
                }
            }
        }
    }
}

/* Our Company */
.page-template-our-company {
    article.section {
        .container {
            .background {
                .overlay {
                    .entry-content {
                        p {
                            font-size: 1.35em;
                            line-height: 150%;
                        }
                        ul {
                            li {
                                margin: 0;
                                @include flexSize(1);
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .history, .mission, .work {
        @include mods;
        padding: 5em 2em;
        .container {
            max-width: 975px;
            overflow: auto;
            p {
                &.is-half-desktop {
                    width: 50%;
                    padding: 1em;
                    float: left;
                    text-align: left;
                }
            }
        }
    }
    .responsibility {
        @include mods;
        .container {
            max-width: 975px;
        }
        .overlay {
            padding: 5em 2em;
        }
        .lists {
            @include flex;
            @include justifyContent(center);
            ul {
                max-width: 350px;
            }
        }
    }
}

.page-template-what-we-do {
    article.section {
        .container {
            .background {
                .overlay {
                    .entry-content {
                        max-width: 975px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .solutions {
        @include mods;
        padding: 5em 2em;
        .container {
            p {
                max-width: 900px;
                margin-bottom: 1em;
            }
            ul.flipcards {
                li {
                    .flip-container, .front, .back {
                        height: 250px;
                    }
                    h3 {
                        font-size: 2.25em;
                    }
                }
            }
        }
    }
    .speed {
        @include mods;
        padding-bottom: 5em;
        .container {
            p {
                max-width: 900px;
                margin: 1em auto;
                &:last-of-type {
                    margin: 0 auto;
                }
            }
            .columns {
                .column {
                    padding: 3em;
                    .text {
                        min-height: 320px;
                        padding: 2em;
                    }
                }
            }
        }
    }
    .savings {
        @include mods;
        margin: 6em 0;
        .container {
            padding: 5em 2em;
            .inner {
                max-width: 450px;
                float: right;
                margin-right: 4em;
            }
        }
    }
}

/* Resource Center */
.page-template-resource-center, 
.page-template-industry-insights, 
.page-template-news-and-events,
.page-template-products-fact-sheets,
.archive {
    .posts, .blog-posts {
        .container {
            max-width: 1030px;
            h2 {
                font-size: 3em;
            }
            .posts {
                .post {
                    .meta {
                        font-size: .9em;
                    }
                }
            }
            .social {
                padding: 1.5em;
            }
        }
    }
}

.page-template-resource-center {
    article.section {
        .container {
            .background {
                .overlay {
                    padding: 13em 0 12em 0;
                }
            }
        }
    }
    .event-news-posts {
        margin-top: -9em;
    }
    .bottom-graphic {
        margin-top: -5em;
        .overlay {
            //height: 400px;
        }
    }
}

/* Contact */
.page-template-contact {
    article.section {
        .container {
            .background {
                .overlay {
                    padding: 10em 1em 15em 1em;
                    h1 {
                        font-size: 3em;
                    }
                }
            }
        }
    }
    .form {
        .container {
            z-index: 1;
            background: #fff;
            border-radius: 5px;
            border: 2px solid rgba($brdeeppurple, 0.3);
            margin-top: -5em;
            margin-bottom: -5em;
            position: relative;
            .gform_wrapper {
                max-width: 550px;
                //float: right;
                .gform_footer {
                    input[type="submit"] {
                        margin-left: 111.5px;
                    }
                }
            }
            .columns {
                max-width: 85%;
                margin: 0 auto;
            }
        }
    }
    .addresses {
        .container {
            padding-top: 10em;
            .columns {
                .is-one-quarter-tablet {
                    p {
                        margin-bottom: 2em;
                    }
                }
                .is-three-quarters-tablet {
                    h4 {
                        margin-bottom: 3em;
                    }
                    ul {
                        li {
                            margin-bottom: 3em;
                        }
                    }
                }
            }
        }
    }
}

/* Team */
.page-template-team {
    .intro {
        padding: 10em 0;
        h1 {
            font-size: 3em;
        }
    }
    .posts {
        .container {
            max-width: 960px;
            .post {
                .back {
                    .overlay {
                        font-size: 1em;
                    }
                }
                .front, .back {
                    height: 425px;
                }
                .flip-container {
                    height: 425px;
                }
                .feature {
                    min-height: 425px;
                }
            }
        }
    }
    .column {
        &.first {
            margin-top: -7em;
        }
        //&.post-3, &.post-4, &.post-5, &.post-6, &.post-7, &.post-8 {
            //margin-top: 0;
        //}
    }
    .work {
        padding: 5em 0;
        h2 {
            font-size: 2.5em;
            margin-bottom: 1em;
        }
        a.button {
            margin: 3em 1em 0 1em;
        }
    }
}

.page-template-services {
    article.section {
        .container {
            .background {
                .overlay {
                    .entry-header {
                        h1 {
                            font-size: 2.5em;
                        }
                    }
                    .entry-content {
                        h2 {
                            font-size: 2.5em;
                            max-width: 768px;
                            margin: 0 auto;
                        }
                        max-width: 1030px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    features {
        feature {
            .feature {
                //max-width: 1200px;
                margin: 3em auto;
                .overlay {
                    overflow: auto;
                    .text {
                        padding-left: 2em;
                        max-width: 500px;
                    }
                }
            }
            &:nth-of-type(even) {
                .text {
                    padding-left: 0em;
                    padding-right: 2em;
                    float: right;
                }
            } 
        }
    }
    .positioned, .driven {
        margin: 3em 0;
        padding-bottom: 3em;
        .container {
            max-width: 970px;
            margin: 0 auto;
        }
    }
}

/* Security */
.page-template-security {
    article.section {
        .container {
            .background {
                .overlay {
                    .entry-header {
                        h1 {
                            font-size: 2.5em;
                        }
                    }
                    .entry-content {
                        h2 {
                            font-size: 2.5em;
                            max-width: 768px;
                            margin: 0 auto 1em auto;
                        }
                        max-width: 1030px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

/* Electronic */
.page-template-electronic {
    article.section {
        .container {
            .background {
                .overlay {
                    .entry-header {
                        h1 {
                            font-size: 2.5em;
                        }
                    }
                    .entry-content {
                        h2 {
                            font-size: 2.5em;
                            max-width: 850px;
                            margin: 0 auto 1em auto;
                        }
                        max-width: 1030px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
	.feat-intro {
		.container {
			.inner {
                //padding: 1em 0 0 0;
                max-width: 850px;
                margin: 0 auto;
			}
		}
	}
    .main {
        .main-content {
            width: 50%;
            @include flexSize(1 0 auto);
            .inner {
                max-width: 600px;
            }
        }
    }
    .columns {
        @include flex;
        .column {
            @include flexSize(1);
        }
    }
}

/* Vaults */
.page-template-vaults {
    .main, .second, .third, .fourth {
        .container {
            max-width: 1030px;
        }
    }
    .main {
        .container {
            .first {
                .columns {
                    padding: 3em 2em 2em 2em;
                }
            }
        }
    }
    .second {
        .overlay {
            .container {
                p {
                    font-size: 1.5em;
                }
            }
        }
    }
    .third {
        .container {
            span.small {
                font-size: 1em;
            }
        }
    }
    .fourth {
        .container {
            .columns {
                .column {
                    margin: 2em 0;
                    padding: 0 2em;
                    .img {
                        height: 400px;
                    }
                }
            }
        }
    }
}

/* Default */
.page-template-default {
    article.section {
        padding: 7em 0;
        &.expertise {
            .container {
                .background {
                    .overlay {
                        padding: 7em 2em;
                    }
                }
            }
        }
    }
    .main {
        .container {
            padding: 4em 2em;
            //padding: 0 2em 4em 2em;
            .first, .second, .third, .fourth {
                .img {
                    margin-right: 4em;
                }
                .text {
                    //padding: 5em 0;
                }
            }
            .first {
                //margin-top: -3em;
                .text {
                    //padding: 7em 0 3em 0;
                }
            }
            #cta {
                .text {
                    font-size: 1.25em;
                    a.blue-btn {
                        margin-top: 0;
                        float: right;
                    }
                }
            }
        }
        &.expertise {
            .container {
                padding: 0;
                .first {
                    margin-top: 0;
                    .text {
                        padding: 4em 2em;
                    }
                }
            }
        }
    }
}

.page-template-culture {
    article.section {
        .container {
            padding-bottom: 0;
            .background {
                .overlay {
                    padding: 9em 0;
                    .entry-content {
                        //max-width: 768px;
                        margin: 1em auto 0 auto;
                        p {
                            font-size: 1.5em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
    .main {
        .container {
            //max-width: 100%;
            .first, .second, .third, .fourth {
                .text {
                    max-width: 960px;
                    margin: 0 auto;
                }
            }
            .first {
                padding-top: 4em;
                .entry-header {
                    max-width: 700px;
                    margin: 0 auto 4em auto;
                    p {
                        font-size: 1.5em;
                    }
                }
                .columns {
                    max-width: 960px;
                    margin: 0 auto;
                    .column {
                        padding: 0 1.5em;
                        .img {
                            height: 400px;
                        }
                        .text {
                            font-size: 1.1em;
                        }
                    }
                }
                .text {
                    h2 {
                        font-size: 3em;
                    }
                    ul {
                        li {
                            h3 {
                                margin-top: 1em;
                                font-size: 1.75em;
                            }
                        }
                    }
                }
            }
        }
    }
    .fourth {
        padding: 6em 2em;
        .text {
            h2 {
                font-size: 3em;
                //margin-bottom: 1.5em;
            }
        }
        .columns {
            @include flex;
            .valmain {
                margin-right: 1em;
                width: 50%;
                height: auto;
            }
            .valgrid {
                padding: 0;
                .col {
                    margin: 0 1em;
                    width: 44%;
                    &.first, &.second {
                        margin-bottom: 2em;
                    }
                    .text {
                        .front {
                            transition: .4s all;
                            display: block;
                        }
                        .back {
                            transition: .4s all;
                            display: none;
                        }
                        &:hover {
                            .front {
                                display: none;
                            }
                            .back {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-template-expertise {
    .main {
        padding-bottom: 3em;
        .container {
            .first {
                h2 {
                    font-size: 3em;
                }
            }
        }
    }
    .second {
        .container {
            padding-bottom: 2em;
            max-width: 1030px;
            ul {
                li {
                    font-size: 1.2em;
                }
            }
            p {
                margin: 2em auto;
            }
        }
    }
    .third {
        .container {
            h2 {
                font-size: 3em;
            }
            .columns {
                @include justifyContent(center);
                .column {
                    padding: 2em;
                    max-width: 400px;
                }
            }
        }
    }
}

/* Single */

.single {
    #content {
        max-width: 1200px;
        margin: 0 auto;
        #primary {
            @include flex;
            #main {
                width: 70%;
                padding-right: 3em;
                article.card {
                    height: auto;
                    max-width: 100%;
                }
            }
            .pagination {
                clear: both;
                display: block;
                .post-navigation {
                    padding: 3em 2em;
                }
            }
            #secondary {
                width: 30%;
                background-color: #fff;
                .column {
                    &.is-one-third {
                        width: 100%;
                    }
                }
            }
        }
    }
    &.single-events {
        #content {
            @include flex;
            #primary {
                width: 70%;
                #main {
                    width: 100%;
                }
            }
            #secondary {
                width: 30%;
                background-color: #fff;
                .column {
                    &.is-one-third {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* Footer */
footer {
    .container {
        .hero-body {
            .site-info {
                position: relative;
                //overflow: auto;
                @include flex;
                .menu {
                    text-align: left;
					@include flex;
					@include flexAlign(center);
                    @include justifyContent(center);
                    height: 44px;
                    a {
                        margin: 0 0 0 2em;
                    }
                }
                .contact {
                    margin-top: 0;
                    text-align: right;
                    position: absolute;
                    right: 0;
                    a.button {
                        //height: auto;
                    }
                }
            }
        }
    }
}