#header {
    .hero-head {
        .container {
            #site-navigation {
                .searchForm {
                    top: 91px;
                }
                a.search {
                    top: 42px;
                }
                ul.nav-menu {
                    padding: 30px 0px 10px 0px;
                    li.menu-item-has-children {
                        .subContainer {
                            top: 81px;
                        }
                    }
                }
                .nav-left {
                    a {
                        padding-top: 8px;
                        img {
                            max-height: 65px;
                        }
                    }
                }
                .phone-header {
                    z-index: 1;
                    left: auto;
                    right: 0;
                    top: 10px;
                }
            }
        }
    }
    &.shrink {
        .hero-head {
            .container {
                #site-navigation {
                    .searchForm {
                        top: 70px;
                    }
                    a.search {
                        top: 32px;
                    }
                    ul.nav-menu {
                        padding: 25px 0px 6px 0px;
                        li.menu-item-has-children {
                            .subContainer {
                                top: 62px;
                            }
                        }
                    }
                    .nav-left {
                        a {
                            padding-top: 0px;
                            img {
                                max-height: 65px;
                            }
                        }
                    }
                    .phone-header {
                        z-index: 1;
                        left: auto;
                        right: 0;
                        top: 6px;
                    }
                }
            }
        }
    }
}