/* Tablet Styles */

#header {
    .nav-toggle {
        display: block;
    }
    .hero-head {
        .container {
            .login {
                padding-top: 1em;
                text-align: right;
                height: 50px;
                a.button {
                    position: absolute;
                    top: 1.5em;
                    right: 0;
                }
            }
            #site-navigation {
                .nav-left {
                    overflow: initial;
                    overflow-x: initial;
                    @include flexSize(0 1 auto);
                    a {
                        img {
                            @include transition(.4s all );
                            max-height: 55px;
                            //margin-top:-50px;
                        }
                    }
                }
                ul.nav-menu {
                    max-width: 350px;
                    position: absolute;
                    right: 0px;
                    left: auto;
                    padding-right: 0;
                    top: 100%;
                    background: #fff;
                    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
                }
                /*ul.nav-menu {
                    position: absolute;
                    left: auto;
                    top: 20px;
                    right: 20px;
                    background: transparent;
                    width: auto;
                    box-shadow: none;
                    @include flexAlign(center);
                    li {
                        padding-top: 1em;
                        padding-bottom: 1em;
                        &:hover {
                            background: $brsubmenu;
                        }
                        &.menu-item-has-children {
                            &:after {
                                content: none;
                            }
                            &:hover {
                                ul.dropdown-menu {
                                    display: block!important;
                                    background: $brsubmenu;
                                    top: 34px;
                                    left: 0;
                                    right: auto;
                                    width: 200px;
                                    li {
                                        padding-top: .5em;
                                        padding-bottom: .5em;
                                    }
                                }
                            }
                        }
                    }
                }*/
                a.search {
                    position: absolute;
                    top: 35px;
                    right: 10px;
                }
                .searchForm {
                    top: 100%;
                }
                .phone-header {
                    right: 10px;
                }
            }
        }
    }
} 

article.section {
    .container {
        .background {
            .overlay {
                .entry-header {
                    h1 {
                        font-size: 3em;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}

#spacer {
    height: 69px;
}

.home {
    .features {
        .columns {
            max-width: 1030px;
            margin: 0 auto;
        }
    }
    .blog-posts {
        .container {
            h2 {
                margin: 1em 0;
            }
            .columns {
                .posts {
                    .columns {
                        .column {
                            width: 30.6%;
                            margin: 0 1em;
                            .post {
                                margin: 0;
                            }
                        }
                    }
                }
                .social {
                    @include flex;
                    @include justifyContent(center);
                    @include flexCol;
                }
            }
            .more-link {
                margin: 3em 0;
            }
        }
    }
    .testimonials {
        .overlay {
            .container {
                ul {
                    li {
                        height: 300px;
                    }
                }
            }
        }
    }
    .schedule {
        padding: 4em 0;
        min-height: 375px;
        @include flex;
        @include alignContent(stretch);
        .img {
            top: 0;
            @include flexOrder(2);
            opacity: 1.0;
            height: auto;
            width: 100%;
            position: relative;
            background-size: 100%;
            background-repeat: no-repeat;
            max-width: 350px;
        }
    }
}

/* Our Company */
.page-template-our-company {
    article.section {
        .container {
            .background {
                .overlay {
                    padding: 8em 2em;
                    .entry-content {
                        ul {
                            li {
                                @include flexSize(1);
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .history, .mission, .work {
        padding: 4em 2em;
    }
    .responsibility {
        .overlay {
            padding: 4em 2em;
        }
    }
}

/* What We Do */
.page-template-what-we-do {
    article.section {
        .container {
            .background {
                .overlay {
                    .entry-header {
                        h1 {
                            font-size: 3em;
                        }
                    }
                }
            }
        }
    }
    .who {
        padding: 2em 1em 6em 1em;
        .container {
            max-width: 850px;
            margin: 0 auto;
        }
        .columns {
            margin-top: 4em;
            @include flexWrap;
            @include alignContent(stretch);
            .column {
                @include flex;
                .feature {
                    //height: 400px;
                    .overlay {
                        //top: 310px;
                        //height: 400px;
                        .front {
                            //margin-bottom: 4em;
                            h3 {
                                font-size: 1.3em;
                                &.nomargin {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .solutions {
        .container {
            max-width: 850px;
            margin: 0 auto;
            .solutions-text {
                h2 {
                    font-size: 3em;
                }
            }
            .columns {
                @include flexWrap;
                .column {
                    padding: 3em 1em 2em 1em;
                    .img {
                        //height: 400px;
                    }
                }
            }
        }
    }
    .speed {
        .container {
            .columns {
                .text {
                    min-height: 375px;
                    h3 {
                        //padding: .75em;
                    }
                    p {
                        //padding: 0 3em;
                    }
                }
            }
        }
    }
    .savings {
        @include flex;
        .img {
            @include flexOrder(2);
            height: auto;
        }
        .container {
            a.button {
                background: $brblue;
                &:hover {
                    background: darken($brblue, 5%);
                }
            }
        }
    }
}

/* Resource Center */
.page-template-resource-center, 
.page-template-industry-insights, 
.page-template-news-and-events,
.page-template-products-fact-sheets,
.archive {
    .intro {
        h1 {
            font-size: 3em;
        }
    }
    .posts, .blog-posts {
        .container {
            h2 {
                margin: 1em 0;
            }
            .columns {
                @include flexWrap;
                .section-header {
                    width: 100%;
                    flex: 1 0 auto;
                }
                .posts {
                    .columns {
                        .column {
                            padding: 0 1em;
                            .post {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-template-resource-center {
    .columns {
        @include flex;
        .column {
            @include flexSize(1);
            .post {
                height: 100%;
            }
            &.more {
                @include alignContent(stretch);
                .inner {
                    height: 100%;
                    @include flex;
                    @include flexCol;
                    @include justifyContent(center);
                    h2 {
                        margin-top: 0;
                        font-size: 3em;
                        line-height: 120%;
                    }
                    .green-btn {
                        display: table;
                        margin: 1em auto;
                    }
                }
            }
        }
    }
    .bottom-graphic {
        margin-top: 3em;
    }
}

.page-template-solutions {
    .page {
        .intro {
            h1 {
                font-size: 3em;
            }
            .container {
                .solution-buttons {
                    ul {
                        @include justifyContent(center);
                        @include flex;
                        @include flexWrap;
                        li {
                            width: 33.3%;
                        }
                    }
                }
            }
        }
    }
}

/* Contact */
.page-template-contact {
    .form {
        .container {
            padding: 2em;
            .columns {
                .is-one-third-tablet {
                    min-height: 300px;
                    height: auto;
                    margin-bottom: 2em;
                }
            }
            .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
                width: 100%;
            }
                .gform_wrapper {
                    margin: 0 auto;
                    max-width: 450px;
                    width: 100%;
                    ul.gform_fields {
                        li.gfield {
                            @include flex;
                            label {
                                margin-top: 20px;
                                width: 140px;
                                &.gfield_label_before_complex {
                                // width: 155px;
                                }
                            }
                            span.name_last {
                                padding-right: 0;
                            }
                        }
                    }
                    .field_sublabel_below {
                        .ginput_complex.ginput_container {
                            label {
                                margin-top: 4px;
                                width: auto;
                            }
                        }
                    }
                    .top_label {
                        div.ginput_container {
                            width: 100%;
                        }
                    }
                    .gform_footer {
                        input[type="submit"] {
                            padding: .5em 1.5em;
                            margin-left: 107px;
                            font-size: .9em;
                        }
                    }
                }
        }
    }
    .addresses {
        .is-three-quarters-tablet {
            padding-left: 4em;
            @include flex;
            @include justifyContent(flex-end);
            ul {
                margin: 0;
                padding-left: 3em;
                //@include flexWrap;
               // @include flex;
                li {
                    //width: 50%;
                    //@include flexSize(1 0 auto);
                    h4 {
                        margin-top: 0;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.page-template-request-a-demo {
    article.section {
        .container {
            .background {
                padding: 5em 0 10em 0;
                .inner {
                    max-width: 1030px;
                    margin: 0 auto;
                    .form {
                        .img {
                            margin-right: 1em;
                            height: auto;
                            background-position: 24%;
                            min-height: 300px;
                        }
                        .form {
                            padding-bottom: 2em;
                            margin-top: 0;
                            p {
                                font-size: 1em;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-template-services {
    article.section {
        .container {
            .background {
                .entry-content {
                    a.button {
                        font-size: 1.2em;
                        padding: .5em 1.5em;
                        margin: 2em 1em;
                    }
                }
            }
        }
    }
    features {
        feature {
            .feature {
                clear: both;
                overflow: auto;
                .overlay {
                    padding: 2em;
                    width: 50%;
                    h2 {
                        margin-top: 0;
                    }
                }
            }
            &:nth-of-type(odd) {
                .overlay {
                    float: right;
                }
            }
        }
    }
}

/* Security */
.page-template-security {
    article.section {
        .container {
            .background {
                .entry-content {
                    a.button {
                        font-size: 1.2em;
                        padding: .5em 1.5em;
                        margin: 2em 1em;
                    }
                }
            }
        }
    }
    .columns {
        .column {
            .feature {
                padding: 2em .5em;
                .text {
                    h3 {
                        //height: 75px;
                    }
                }
            }
        }
    }
}

/* Electronic */
.page-template-electronic {
    .main {
        margin: 3em 0;
        @include flex;
        .image {
            height: auto;
            @include flexSize(1 0 auto);
            width: 50%;
        }
        .main-content {
            .inner {
                padding: 0 3em;
            }
        }
    }
    .columns {
        .column {
            .feature {
                padding: 2em .5em;
                .text {
                    h3 {
                        //height: 75px;
                    }
                }
            }
        }
    }
}

/* Culture */
.page-template-culture {
    .main {
        .container {
            .first {
                padding-bottom: 5em;
                .columns {
                    .column {
                        &.first-col {
                            .text {
                                margin-top: 0;
                                margin-bottom: 5em;
                                @include flexOrder(1);
                            }
                            .img {
                                @include flexOrder(2);
                            }
                        }
                        &.last-col {
                            .text {
                                margin-top: 2em;
                            }
                        }
                    }
                }
            }
        }
    }
    .fourth {
        padding: 4em 2em;
        .columns {
            display: block;
            .valgrid {
                .col {
                    width: 46%;
                }
            }
        }
    }
}

/* Team */
.page-template-team {
    .posts {
        .columns {
            .first {
                width: 100%;
                @include flexSize(1 0 auto);
            }
        }
    }
}

/* Careers */
.page-template-careers {
    article.section {
        .container {
            .background {
                background-position: center center;
                .overlay {
                    //background: rgba(0,0,0,0.6);
                    padding: 11em 0;
                    .entry-header {
                        padding-bottom: 1em;
                    }
                    .entry-content {
                        max-width: 768px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .posts {
        padding: 1em 0 0 0;
        img.alignleft {
            margin: 0 2em 2em 0;
        }
        .container {
            .columns {
                .column {
                    .post {
                        .content {
                            h2 {
                                margin-bottom: .5em;
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-template-expertise {
    .third {
        .container {
            .columns {
                @include flexWrap;
                .column {
                    width: 33.3%;
                    flex: 1 0 auto;
                }
            }
        }
    }
}

/* Vaults */
.page-template-vaults {
    .first {
        .columns {
            .column {
                padding: 1.5em;
            }
        }
    }
    .second {
        .overlay {
            .container {
                padding: 4em 2em;
            }
        }
    }
    .third {
        .container {
            padding: 4em 2em;
        }
    }
    .fourth {
        .container {
            .columns {
                @include flexWrap;
                .column {
                    margin: 1.5em 0;
                    padding: 0 1.5em;
                    .img {
                        margin-bottom: 2em;
                    }
                    &.cta {
                        @include flex;
                        @include flexCol;
                        @include justifyContent(center);
                    }
                }
            }
        }
    }
}

/* Default */
.page-template-default {
    article.section.expertise {
        .container {
            max-width: 100%;
            .background {
                .overlay {
                    padding: 6em 2em;
                    .entry-content {
                        max-width: 800px;
                    }
                }
            }
        }
    }
    .main {
        .container {
            .first, .second, .third, .fourth {
                @include flex;
                .img {
                    background-position: center top;
                    background-size: cover;
                    height: auto;
                    width: 40%;
                    //max-height: 500px;
                    @include flexSize(1 0 auto);
                    margin-right: 2em;
                    margin-bottom: 0;
                }
            }
        }
    }
    table {
        td {
            display: table-cell;
        }
    }
}