/* Base styles - Mobile */

body {
	font-family: $fira;
}

a {
	color: $brnavblue;
}

a.button {
	border: 0;
	color: #fff;
	font-weight: 600;
	//color: $brnavblue;
	&:hover {
		color: #fff;
		background: darken(#fff, 5%);
	}
}

// Override Bulmapress styles
.site {
	display: block!important;
	background: #fff;
}

.columns {
	margin-top: 0;
}

.nav-toggle:hover {
	background-color: transparent;
}

.hero .nav {
	box-shadow: none;
}

.nav-toggle span {
	height: 2px;
	width: 20px;
}

#header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	background: #fff;
	.hero-head {
		.container {
			.login {
				text-align: center;
				a {
					background: $brblue;
					color: #fff;
					border: 0px;
					&:hover {
						background: darken($brblue, 5%);
					}
				}
			}
			#site-navigation {
				#menu-toggle {
					position: absolute;
					top: 20px;
					right: 45px;
				}
				.phone-header {
					@include transition(.4s all);
					position: absolute;
					top: 10px;
					right: 20px;
					color: $brnavblue;
					@include flex;
					@include flexAlign(center);
					i {
						//font-size: 1em;
						margin-right: .3em;
					}
				}
				.nav-left {
					a {
						padding-left: .5em;
						img {
							max-width: 100%;
						}
					}
				}
				.nav-item {
					padding: 5px 10px;
					a {
						color: $brnavblue;
					}
				}
				ul.nav-menu {
					margin: 0;
					width: 100%;
					//top: 70px;
					li {
						position: relative;
						text-align: left;
						display: block;
						.subContainer {
							display: none;
							background: $brsubmenu;
							width: 900px;
							position: absolute;
							padding: 1em;
							z-index: 1;
							overflow: auto;
						}
						&.menu-item-has-children {
							&:after {
								display: block;
								font-family: 'FontAwesome';
								content: "\f054";
								font-size: 1.1em;
								position: absolute;
								top: 0px;
								right: 0px;
								padding: .4em .8em .44em .8em;
								cursor: pointer;
								transition: .4s all;
								color: $brnavblue;
								background: $light-gray;
							}
						}
						&.clicked {
							background: $light-gray;
							&:after {
								-ms-transform: rotate(90deg);
								-webkit-transform: rotate(90deg);
								transform: rotate(90deg);
							}
							ul.dropdown-menu {
								display: block!important;
								margin: .5em 0 0 0;
								li {
									padding: 2px 10px;
								}
							}
						}
						&:hover {
							border-bottom: 0;
						}
						&.blue-btn {
							background: transparent;
							&:hover {
								background: transparent;
							}
						}
					}
				}
				.searchForm {
					display: none;
					position: absolute;
					background: #fff;
					width: 100%;
					top: 100%;
					right: 0;
                    box-shadow: 0 0 20px rgba(0,0,0,0.1) inset;
                    background: $light-gray;
                    padding: 1em;
					h2 {
						display: none;
					}
					input {
						max-width: 100%;
					}
				}
				a.search {
					position: absolute;
					top: 35px;
					right: 20px;
				}
			}
		}
	}
	&.shrink {
		box-shadow: 0 0 20px rgba(0,0,0,0.5);
	}
}

#spacer {
	height: 70px;
}

.nav-item {
	img {
		max-height: 50px;
		max-width: 100%;
	}
}

/* Homepage */
article.section {
	padding: 0;
	.container {
		max-width: 100%;
		.background {
			@include bottomBoxShadow;
			background-size: cover;
			background-position: center center;
			.overlay {
				background: rgba($brdeeppurple, 0.7);
				padding: 1em;
				.entry-header {
					h1 {
						font-size: 2.5em;
						line-height: 120%;
						margin: 0 0 .5em 0;
						color: #fff;
						font-weight: 600;
						@include headingTextShadow;
					}
				}
				.entry-content {
					color: #fff;
					h2 {
						margin: 0 0 .5em 0;
						color: #fff;
						@include headingTextShadow;
					}
					h3 {
						color: #fff;
						@include headingTextShadow;
					}
					.white-btn {
						color: $brnavblue!important;
					}
				}
			}
		}
	}
}
.home {
	.features {
		//background: $brnavblue;
		padding: 4em 1em;
		.columns {
			@include flexWrap;
			.column {
				padding: 1em;
				/* entire container, keeps perspective */
				//@include flipper;
                .feature {
					width: 100%;
					background-size: cover;
					background-position: center center;
                    position: relative;
                    overflow: hidden;
					@include flex;
					@include flexCol;
					@include justifyContent(center);
                    padding: 0;
					height: 280px;
                    //padding: 2em;
                    .overlay {
						width: 100%;
						background: rgba(0,0,0,0.6);
						text-align: center;
						color: #fff;
                        padding: 1em;
                        position: relative;
                        top: 210px;
                        height: 280px;
						@include transition(.5s all);
						&.scrollToTop {
							top: 0;
						}
                        h3 {
                            font-size: 1.4em;
                            font-weight: 300;
                            margin-top: .5em;
                            //font-size: 2em;
                            line-height: 125%;
                            //max-width: 200px;
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                            min-height: 70px;
                        }
                        a {
							color: #fff;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            background: $brdeeppurple;
                            padding: 1em;
                            @include transition(.4s all);
                            &:hover {
                                background: darken($brdeeppurple, 5%);
								color: #fff;
								text-decoration: underline;
                            }
                        }
                    }
                    &:hover, &:active, &:focus {
                        .overlay {
                            top: 0;
                        }
					}
                }
				/*.feature {
					padding: 1em;
					background-size: cover;
					background-position: center center;
					height: 280px;
					width: 100%;
					@include flex;
					@include flexCol;
					@include justifyContent(center);
					.overlay {
						background: rgba(0,0,0,0.6);
						text-align: center;
						color: #fff;
						padding: 1em;
						h3 {
							font-weight: 300;
							font-size: 1.5em;
							margin-bottom: 1em;
						}
						p {
							margin-bottom: 1.5em;
						}
						a {
							color: #fff;
							&:hover {
								color: #fff;
								text-decoration: underline;
							}
						}
					}
				}*/
			}
		}
	}
	.company {
		padding: 2em 1em;
		background: $brdeeppurple;
		@include mods;
		color: #fff;
		.container {
			h2 {
				text-align: center;
				margin-top: 0;
			}
			a.white-btn {
				margin: .5em;
				color: $brnavblue!important;
			}
		}
	}
	.testimonials {
		background: url('../../images/shutterstock_660927055.jpg');
		background-size: cover;
		background-position: center 20%;
		.overlay {
			background: rgba(0,0,0,0.6);
			width: 100%;
			padding: 2em 1em;
			.container {
				padding-top: 2em;
				text-align: center;
				color: #fff;
				h2 {
					color: #fff;
					font-size: 1.5em;
					font-weight: 600;
				}
				.selector {
					margin: 2em;
					a {
						display: inline-block;
						border: 2px solid #fff;
						padding: .5em .75em;
						margin: .25em;
						border-radius: 50px;
						color: #fff;
						&.selected, &:hover {
							background: $brbrtpurple;
							border-color: $brbrtpurple;
							color: #fff;
						}
					}
				}
				h3 {
					font-size: 2em;
					font-weight: 300;
					max-width: 768px;
					margin: 1em auto;
				}
				ul {
					li {
						height: 400px;
						p {
							max-width: 1030px;
							margin: 1em auto;
							font-size: 1.1em;
							padding: 0 3em;
						}
						.author {
							font-size: .8em;
							margin-top: 1em;
						}
					}
				}
				#pharma, #cc, #other, #cannabis {
					position: relative;
					width: 100%;
					.controls {
						.next, .ccNext, .otherNext, .cannabisNext {
							position: absolute;
							top: 4em;
							right: 0;
							z-index: 1;
							a {
								//background: $brbrtpurple;
								padding: .25em .85em;
								color: #fff;
								border: 2px solid #fff;
								border-radius: 50px;
							}
						}
						.prev, .ccPrev, .otherPrev, .cannabisPrev {
							position: absolute;
							top: 4em;
							left: 0;
							z-index: 1;
							a {
								//background: $brbrtpurple;
								padding: .25em .85em;
								color: #fff;
								border: 2px solid #fff;
								border-radius: 50px;
							}
						}
					}
				}
			}
		}
	}
	.blog-posts {
		background: $light-gray;
		padding: 2em;
		.container {
			h2 {
				font-size: 2em;
				text-align: center;
				font-weight: 300;
				color: $brnavblue;
			}
			.posts {
				.column {
					background: #fff;
					border-radius: 5px;
					border: 1px solid $border-color;
					margin: 2em 0;
					padding: 0;
					.post {
						.meta {
							font-size: .8em;
							padding: .75em 1.5em;
							.cat {
								display: inline-block;
								a {
									color: $brbrtpurple;
									&:hover {
										color: darken($brbrtpurple, 5%);
									}
								}
							}
							.sep {
								padding: 0 .4em;
								display: inline-block;
								color: $brbrtpurple;
							}
							.date {
								display: inline-block;
								color: $brbrtpurple;
							}
						}
						.img {
							width: 100%;
							height: 200px;
							background-size: cover;
							background-position: center center;
						}
						.content {
							padding: 1.5em;
							h3 {
								color: $brnavblue;
								font-weight: 300;
								font-size: 1.5em;
								margin-bottom: .5em;
							}
							p {
								color: $brnavblue;
								margin-bottom: 1.5em;
							}
							a {
								color: $brnavblue;
								border: 0px;
								&:hover {
									color: darken($brnavblue, 5%);
								}
							}
						}
					}
				}
			}
			.social {
				text-align: center;
				@include flex;
				@include justifyContent(center);
				a {
					margin: 1em;
					max-width: 300px;
					background: $brdeeppurple;
					color: #fff;
					padding: .5em 1.5em;
					@include flex;
					@include flexAlign(center);
					&:hover {
						background: darken($brdeeppurple, 5%);
					}
					i {
						width: 50px;
						font-size: 2em;
					}
					span.text {
						margin-left: 3em;
						text-align: center;
						font-size: 1.2em;
						font-weight: 300;
						max-width: 150px;
					}
				}
			}
			.more-link {
				text-align: center;
				margin: 2em 0;
				a.more {
					border-radius: 5px;
					background: $brgreen;
					color: #fff;
					padding: .5em 1.5em;
					font-size: .9em;
					&:hover {
						background: darken($brgreen, 5%);
					}
				}
			}
		}
	}
    .schedule {
		min-height: 250px;
		position: relative;
        background: $brnavblue;
		color: #fff;
		font-weight: 300;
		//@include flex;
		.img {
			//@include flexOrder(2);
			position: absolute;
			top: 2em;
			right: 0;
			width: 300px;
			height: 200px;
			background-size: cover;
			background-position: right center;
			opacity: .3;
		}
		.container {
			padding: 2em;
			.text {
				h2 {
					font-weight: 300;
					font-size: 2em;
					margin-bottom: .5em;
					//text-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
				p {
					margin: 1em 0;
					//text-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
				a.button {
					background: $brgreen;
					color: #fff;
					border: 0px;
					text-shadow: none;
					padding: .5em 1.5em;
					font-size: .9em;
					&:hover {
						background: darken($brgreen, 5%);
					}
					&:before {
						content: "\f005";
						font-family: 'FontAwesome';
						float: left;
						margin-right: 1em;
					}
				}
			}
		}
    }
}

/* Our Company */
.page-template-our-company {
	article.section {
		@include mods;
		.container {
			.background {
				background-position: center center;
				.overlay {
					.entry-content {
						strong {
							color: #fff;
						}
						ul {
							@include flex;
							@include flexWrap;
							list-style: none;
							li {
								font-size: 1.3em;
								padding: 1em;
								text-align: center;
								width: 50%;
								@include flexSize(1 0 auto);

								img {
									margin-bottom: 1em;
								}
								p {
									clear: both;
									font-weight: 600;
								}
							}
						}
						p {
							font-size: 1.1em;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
	.history {
		@include mods;
		color: $brnavblue;
		text-align: center;
		padding: 2em;
		a.button {
			background: $brgreen;
			padding: .5em 1em;
			&:hover {
				background: darken($brgreen, 5%);
			}
		}
	}
	.mission {
		@include mods;
		background: $brnavblue;
		padding: 2em;
		text-align: center;
		color: #fff;
		strong {
			color: #fff;
		}
		a.button {
			color: $brnavblue;
		}
	}
	.responsibility {
		@include mods;
		clear: both;
		background-image: url('../../images/corp-responsibility.jpg');
		background-size: cover;
		background-position: center top;
		color: #fff;
		text-align: center;
		.overlay {
			overflow: auto;
			width: 100%;
			background: rgba($brdeeppurple, 0.7);
			padding: 2em;
		}
		ul {
			list-style: disc;
			text-align: left;
			margin: 0 2em;
			font-weight: 300;
			font-size: 1.1em;
		}
	}
	.work {
		@include mods;
		padding: 2em;
		background-color: $dkgray;
		color: #fff;
		text-align: center;
		a.button {
			margin: 1em;
			background: #fff;
			color: $brnavblue;
			padding: .5em 1em;
			&:hover {
				background: darken(#fff, 5%);
			}
		}
	}
}

/* What We Do */
.page-template-what-we-do {
	article.section {
		@include mods;
		.container {
			.background {
				.overlay {
					.entry-header {
						h1 {
							margin: 1em 0;
							font-size: 2em;
						}
					}
				}
			}
		}
	}
	.who {
		padding: 2em 1em;
		@include mods;
		.intro-text {
			color: $brnavblue;
		}
		.columns {
			.column {
				padding: 1em;
				p {
					font-size: .9em;
				}
				.feature {
					width: 100%;
					background-size: cover;
					background-position: center center;
					position: relative;
					overflow: hidden;
					@include flex;
					@include flexCol;
					@include justifyContent(center);
					padding: 0;
					height: 280px;
					//padding: 2em;
					.overlay {
						width: 100%;
						background: rgba(0,0,0,0.6);
						text-align: center;
						color: #fff;
						padding: 1em;
						position: relative;
						top: 210px;
						height: 280px;
						@include transition(.5s all);
						&.scrollToTop {
							top: 0;
						}
						h3 {
							font-size: 1.4em;
							font-weight: 300;
							margin-top: .5em;
							//font-size: 2em;
							line-height: 125%;
							//max-width: 200px;
							margin-left: auto;
							margin-right: auto;
							text-align: center;
							min-height: 70px;
						}
						a {
							color: #fff;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							background: $brdeeppurple;
							padding: 1em;
							@include transition(.4s all);
							&:hover {
								background: darken($brdeeppurple, 5%);
								color: #fff;
								text-decoration: underline;
							}
						}
					}
					&:hover, &:active, &:focus {
						.overlay {
							top: 0;
						}
					}
				}
			}
		}
	}
	.solutions {
		padding: 2em;
		color: #fff;
		background: $dkgray;
		text-align: center;
		.solutions-text {
			h2 {
				font-size: 2em;
				font-weight: 600;
			}
			strong, h3 {
				color: #fff;
			}
			p {
				margin-bottom: 1em;
			}
		}
		.columns {
			.column {
				transition: .4s all;
				cursor: pointer;
				&:hover {
					opacity: .8;
				}
				.img {
					height: 300px;
					width: 100%;
					background-size: cover;
					background-position: center center;
				}
				.text {
					margin-top: 2em;
					text-align: center;
					h3 {
						font-weight: 300;
						font-size: 1.5em;
						a {
							color: #fff;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.speed {
		padding: 2em;
		background: $brnavblue;
		color: #fff;
		text-align: center;
		.columns {
			.column {
				.img {
					height: 200px;
					background-size: cover;
					background-position: center center;
					margin-bottom: 1em;
				}
				.text {
					border: 1px solid #fff;
					border-radius: 5px;
					padding: 1em;
					p {
						font-size: .9em;
					}
				}
			}
		}
	}
	.savings {
		margin: 2em 0;
		color: $brnavblue;
		.img {
			width: 100%;
			height: 200px;
			background-size: cover;
			background-position: center center;
		}
		.container {
			padding: 2em;
		}
	}
}

/* Team */
.page-template-team {
	.intro {
		padding: 4em 0;
		background: $brdeeppurple;
		color: #fff;
		overflow: auto;
		h1 {
			font-weight: 300;
		}
	}
	.posts {
		.columns {
			@include flexWrap;
		}
		.post {
			max-width: 400px;

			margin: 0 auto;
			padding: 1em;
			@include flipper;
			.front {
				background-color: darken($brnavblue, 10%);
				color: #fff;
				padding: 1em;
				h3 {
					margin-top: 0;
					font-weight: 600;
				}
				h3, h4 {
					color: #fff;
				}
			}
			.back {
				background-color: darken($brnavblue, 10%);
				.overlay {
					//background: rgba(0,0,0,0.7);
					padding: 1em;
					color: #fff;
					min-height: 240px;
					font-size: .9em;
					font-weight: 400;
				}
			}
			.feature {
				background-size: cover;
				background-position: center center;
				//min-height: 340px;
				@include flex;
				@include flexCol;
				@include justifyContent(center);
			}
			h3 {
				font-size: 1.5em;
				color: $brnavblue;
				margin: 1em 0 .25em 0;
			}
			h4 {
				color: $brnavblue;
			}
		}
	}
	.work {
		background: $brdeeppurple;
		padding: 2em;
		color: #fff;
		font-weight: 300;
		.container {
			h2 {
				font-size: 2em;
				text-align: center;
				margin-bottom: .5em;
				font-weight: 300;
			}
			p {
				font-size: 1.2em;
			}
			a.button {
				background: #fff;
				color: $brdeeppurple!important;
				display: inline-block;
				padding: .5em 1.5em;
				height: auto;
				margin: 1em;
				border: 0px;
			}
		}
	}
}

/* Resource Center, Blog & Events */
.page-template-resource-center, 
.page-template-industry-insights, 
.page-template-news-and-events,
.page-template-products-fact-sheets,
.archive {
	.page {
		background: $brnavblue;
	}
	.intro {
		padding: 2em 2em 0 2em;
		color: #fff;
		overflow: hidden;
		font-weight: 300;
		h1 {
			font-weight: 300;
		}
		p {
			font-size: 1.2em;
		}
		.solution-buttons {
			max-width: 768px;
			margin: 0 auto;
			ul {
				li {
					display: inline-block;
					margin: 1.25em .5em;
					a {
						border-radius: 5px;
						background: #fff;
						color: $brnavblue;
						padding: .5em 1em;
						font-weight: 700;
						&:hover {
							background: darken(#fff, 5%);
						}
					}
				}
			}
		}
	}
	.posts, .blog-posts {
		padding: 1em;
		.container {
			h2 {
				font-size: 2em;
				text-align: center;
				font-weight: 300;
				color: $brnavblue;
			}
			.posts {
				.columns {
					.section-header {
						padding: 10px;
						h3 {
							color: #fff;
							font-size: 1.5em;
						}
					}
				}
				.post {
					background: #fff;
					border-radius: 5px;
					margin: 1em 0;
					.meta {
						font-size: .8em;
						padding: .75em 1.5em;
						.cat {
							display: inline-block;
							a {
								color: $brbrtpurple;
								&:hover {
									color: darken($brbrtpurple, 5%);
								}
							}
						}
						.sep {
							padding: 0 .4em;
							display: inline-block;
							color: $brbrtpurple;
						}
						.date {
							display: inline-block;
							color: $brbrtpurple;
						}
					}
					.img {
						width: 100%;
						height: 200px;
						background-size: cover;
						background-position: center top;
					}
					.content {
						padding: 1.5em;
						h3 {
							color: $brnavblue;
							font-weight: 300;
							font-size: 1.5em;
							margin-bottom: .5em;
						}
						p {
							color: $brnavblue;
							margin-bottom: 1.5em;
						}
						a {
							color: $brnavblue;
							border: 0px;
							font-weight: 600;
							&:hover {
								color: darken($brnavblue, 5%);
							}
						}
					}
				}
			}
		}
		.pagination {
			width: 100%;
			clear: both;
			margin: 0 auto;
			a {
				color: #fff;
				&:hover {
					background: $brblue;
				}
			}
			span {
				background: $brblue;
				color: #fff;
			}
		}
	}
}

.page-template-resource-center {
	.page {
		background: #fff;
	}
	article.section {
		.container {
			.background {
				box-shadow: none;
				.overlay {
					//background: transparent;
					header.entry-header {
						h1 {
							font-weight: 300;
							text-shadow: none;
						}
					}
					.entry-content {
						font-size: 1.2em;
						font-weight: 300;
					}
				}
			}
		}
	}
	.blog-posts, .posts {
		.container {
			.posts {
				.post {
					border: 1px solid rgba($dkgray, 0.4);
				}
			}
		}
	}
	.column {
		&.more {
			.inner {
				padding: 2em;
				background: $brnavblue;
				text-align: center;
				border-radius: 5px;
				margin: 1em 0;
				h2 {
					color: #fff;
					margin-bottom: .5em;
				}
				a.white-btn {
					margin: 0 auto;
					display: table;
					color: $brnavblue!important;
				}
			}
		}
	}
	.bottom-graphic {
		background-size: cover;
		background-position: center bottom;
		.overlay {
			background: rgba($brdeeppurple, 0.7);
			height: 300px;
		}
	}
}

.page-template-solutions {
	.page {
		background: $light-gray;
		.intro {
			padding: 2em;
			h1 {
				color: $brnavblue;
			}
			.solution-buttons {
				ul {
					li {
						padding: 1em;
						text-align: center;
						a {
							border-radius: 5px;
							display: flex;
							height: 250px;
							width: 100%;
							@include flexAlign(center);
							@include justifyContent(center);
							background: $brdeeppurple;
							color: #fff;
							font-size: 1.5em;
							transition: .4s all;
							&:hover {
								background: lighten($brdeeppurple, 10%);
							}
						}
					}
				}
			}
		}
	}
}

/* Contact */
.page-template-contact {
	article.section {
		.container {
			.background {
				box-shadow: none;
				.overlay {
					background: rgba($brdeeppurple, 0.5);
					.entry-header {
						h1 {
							color: #fff;
							font-weight: 300;
							text-shadow: none;
							strong {
								color: #fff;
								font-weight: 800;
							}
						}
					}
					.entry-content {
						color: #fff;
						h1 {
							color: #fff;
							font-weight: 300;
							text-shadow: none;
							strong {
								color: #fff;
								font-weight: 800;
							}
						}
					}
				}
			}
		}
	}
	.form {
		.container {
			padding: 0 2em;
			.is-one-third-tablet {
				margin-top: 1em;
				height: 300px;
				background-size: cover;
				background-position: 20%;
				border-radius: 3px;
			}
			.gform_wrapper {
				.gform_heading {
					display: none;
				}
				.gform_body {
					label {
						color: $brnavblue;
					}
					input, textarea {
						background: rgba($brnavblue, 0.5);
						border: 0px;
						border-radius: 3px;
						padding: 10px!important;
					}
					select {
						//border: 0px;
						border-radius: 0;
						padding: 0;
						overflow: hidden;
						background: transparent;
						height: 240px!important;
						option {
							color: #fff;
							background: rgba($brnavblue, 0.5);
							margin-bottom: .5em;
							border-radius: 3px;
							padding: 10px 14px!important;
							font-weight: 300;
							&:last-of-type {
								margin-bottom: 0;
							}
						}
						&:not([multiple]) {
							height: auto!important;
							padding: 10px;
							border-radius: 3px;
							background: rgba($brnavblue, 0.5);
							color: #fff;
						}
					}
				}
				.gform_footer {
					input[type="submit"] {
						background: $brnavblue;
						border: 0;
						color: #fff;
						&:hover {
							background: darken($brnavblue, 5%);
						}
					}
				}
			}
		}
	}
	.addresses {
		background: $brdeeppurple;
		.container {
			padding: 2em;
			color: #fff;
			.columns {
				.is-one-quarter-tablet {
					p {
                        margin-bottom: 1em;
					}
				}
			}
			strong {
				color: #fff;
			}
			h4 {
				margin-top: 0;
				font-weight: 700;
			}
			p {
				font-size: 1.1em;
				font-weight: 300;
			}
			ul {
				li {
					font-size: 1.1em;
					line-height: 150%;
					margin-bottom: 1em;
					font-weight: 300;
				}
			}
			p.social {
				a {
					margin-top: 1em;
					color: #fff;
					border: 1px solid #fff;
					border-radius: 50px;
					//padding: 7px;
					display: inline-block;
					width: 40px;
					height: 40px;
					text-align: center;
					margin-right: .25em;
					i {
						margin-top: 8px;
					}
				}
			}
		}
	}
}

/* Request a Demo */
.page-template-request-a-demo {
	@include forms;
	article.section {
		@include mods;
		background: $brdeeppurple;
		.gform_wrapper {
			padding: 0 1em;
			ul {
				padding: 0;
				list-style: none;
			}
		}
		.container {
			.background {
				box-shadow: none;
				.overlay {
					padding: 2em;
					background: transparent;
					h1 {
						text-shadow: none;
						font-size: 3em;
						font-weight: 300;
						line-height: 125%;
					}
				}
				.inner {
					padding: 1em;
					.form {
						color: $brnavblue;
						.img {
							height: 250px;
							background-size: cover;
							background-position: center center;
							border-radius: 5px;
						}
						.form {
							padding: 1em;
							background: #fff;
							border-radius: 5px;
							margin-top: 1em;
						}
					}
				}
			}
		}
	}
}

.page-template-services {
	@include mods;
	article.section {
		.container {
			.background {
				.overlay {
					background: rgba(0,0,0,0.6);
				}
				.entry-header {
					h1 {
						font-weight: 300;
						font-size: 2.25em;
					}
				}
				.entry-content {
					h2 {
						font-weight: 600;
						font-size: 2.25em;
						line-height: 120%!important;
					}
					p {
						font-size: 1.1em;
					}
					a.button {
						font-weight: 300;
						background: transparent;
						border: 1px solid #fff;
						border-radius: 5px;
						margin: 1em 0 .5em 0;
						&:hover {
							background: $brblue;
							border-color: $brblue;
						}
					}
				}
			}
		}
	}
	features {
		feature {
			.feature {
				margin: 1em 0;
				background-size: cover;
				background-position: center center;
				.overlay {
					padding: 1em;
					background: rgba(0,0,0,0.7);
					.text {
						color: #fff;
						h2 {
							color: $brgreen;
						}
						p {
							font-size: 1.1em;
						}
						ul {
							li {
								list-style: disc;
								text-align: left;
								margin: 0 2em .5em 2em;
								font-weight: 300;
								font-size: 1.1em;
							}
						}
					}
				}
			}
		}
	}
	.positioned {
		margin: 1em 0;
		background: $brnavblue;
		color: #fff;
		padding: 2em;
		h2 {
			font-weight: 600;
		}
		p {
			font-size: 1.1em;
		}
	}
	.driven {
		margin: 1em 0;
		background: $brgreen;
		color: #fff;
		padding: 2em;
		h2 {
			font-weight: 600;
		}
		p {
			font-size: 1.1em;
		}
	}
}

.page-template-security {
	@include mods;
	article.section {
		.container {
			.background {
				.entry-header {
					h1 {
						font-weight: 300;
						font-size: 2.25em;
					}
				}
				.entry-content {
					h2 {
						font-weight: 600;
						font-size: 2.25em;
						line-height: 120%!important;
					}
					p {
						font-size: 1.1em;
					}
					a.button {
						font-weight: 300;
						background: transparent;
						border: 1px solid #fff;
						border-radius: 5px;
						margin: 1em 0 .5em 0;
						&:hover {
							background: $brblue;
							border-color: $brblue;
						}
					}
				}
			}
		}
	}
	.columns {
		@include flexWrap;
		.column {
			.feature {
				padding: 1em 2em;
				.img {
					height: 350px;
					width: 100%;
					background-size: cover;
					background-position: center center;
				}
				.text {
					h3 {
                        font-size: 1.5em;
						margin: 1em 0 .5em 0;
						color: $brnavblue;
						font-weight: 300;
					}
					p {
						font-size: 1.1em;
						font-weight: 400;
					}
				}
			}
		}
	}
}

/* Electronic Security */
.page-template-electronic {
	@include mods;
	article.section {
		.container {
			.background {
				.entry-header {
					h1 {
						font-weight: 300;
						font-size: 2.25em;
					}
				}
				.entry-content {
					h2 {
						font-weight: 600;
						font-size: 2.25em;
						line-height: 120%!important;
					}
					p {
						font-size: 1.1em;
					}
					a.button {
						font-weight: 300;
						background: transparent;
						border: 1px solid #fff;
						border-radius: 5px;
						margin: 1em 0 .5em 0;
						&:hover {
							background: $brblue;
							border-color: $brblue;
						}
					}
				}
			}
		}
	}
	.main {
		margin: 1em 0;
		.image {
			height: 300px;
			background-size: cover;
			background-position: center center;
		}
		.main-content {
			.inner {
				padding: 1em;
				p {
					font-size: 1.1em;
				}
				strong, b {
					color: $brbrtpurple;
				}
			}
		}
	}
	.feat-intro {
		.container {
			.inner {
				padding: 0 2em;
				strong {
					font-size: 1.3em;
				}
			}
		}
	}
	.columns {
		@include flexWrap;
		.column {
			.feature {
				padding: 1em 2em;
				.img {
					height: 350px;
					width: 100%;
					background-size: cover;
					background-position: center center;
				}
				.text {
					h3 {
                        font-size: 1.5em;
						margin: 1em 0 .5em 0;
						color: $brnavblue;
						font-weight: 300;
					}
					p {
						font-size: 1.1em;
						font-weight: 400;
					}
				}
			}
		}
	}
}

/* Careers */
.page-template-careers {
	article.section {
		@include mods;
		.content {
			a.button {
				font-weight: 400;
				background: transparent;
				border: 1px solid #fff;
				border-radius: 5px;
				font-size: .9em;
				padding: .5em 1.5em;
				margin: .5em;
				&:hover {
					background: $brblue;
					border-color: $brblue;
				}
			}
		}
	}
	.posts {
		@include mods;
		.container {
			.posts {
					.nothing-found {
						margin-bottom: 4em;
						h2 {
							font-size: 2em;
							color: $brnavblue;
							font-weight: 700;
						}
					}
					.column {
						.post {
							.content {
								padding: 2em;
								h2 {
									margin-top: 0;
									line-height: 120%!important;
									color: $brnavblue;
									font-weight: 600;
								}
								ul {
									font-size: 1.2em;
									list-style: disc;
									margin-left: 2em;
								}
								.apply {
									text-align: right;
									a.button {
										margin-bottom: .25em;
										padding: .5em 1.5em;
										background: $brnavblue;
										&:hover {
											background: darken($brnavblue, 5%);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Vaults */
.page-template-vaults {
	article.section {
		@include mods;
		.container {
			.background {
				box-shadow: none;
				.overlay {
					background: $brdeeppurple;
					.entry-header {
						h1 {
							text-shadow: none;
							font-weight: 300;
						}
					}
					.entry-content {
						h4 {
							color: #fff;
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
	.first {
		@include mods;
		overflow: auto;
		.columns {
			margin: 0;
			padding: 1em;
			.column {
				color: $brnavblue;
				h2 {
					margin: 0 0 .5em 0;
					line-height: 110%;
					font-weight: 700;
					font-size: 2em;
				}
			}
		}
	}
	.second {
		.overlay {
			background: rgba(0,0,0,0.5); 
			.container {
				padding: 2em 1em;
				@include mods;
				color: #fff;
				strong {
					color: #fff;
				}
				h2 {
					margin: 0;
					font-weight: 700;
					line-height: 110%;
					text-align: center;
				}
				span.small {
					display: block;
					text-align: center;
				}
			}
		}
	}
	.third {
		color: #fff;
		background: $brnavblue;
		.container {
			padding: 2em 1em;
			@include mods;
			h2 {
				margin: 0;
				font-weight: 700;
				line-height: 110%;
				text-align: center;
			}
			span.small {
				display: block;
				text-align: center;
			}
		}
	}
	.fourth {
		color: $brnavblue;
		@include mods;
		.container {
			padding: 1em;
			h2 {
				font-weight: 300;
				a {
					font-weight: 700;
				}
			}
			.columns {
				.column {
					.img {
						height: 300px;
						width: 100%;
						background-size: cover;
						background-position: center center;
						margin-bottom: 1em;
					}
					&.cta {
						padding: 2em;
						border-radius: 3px;
						background: $brnavblue;
						color: #fff;
						h2 {
							margin: 1em 0;
							line-height: 110%;
						}
						a.white-btn {
							color: $brnavblue!important;
						}
					}
				}
			}
		}
	}
}

/* Default */
.page-template-default {
	article.section {
		padding: 2em;
		background-color: $brdeeppurple;
		color: #fff;
		header {
			h2 {
				color: #fff;
			}
		}
		.content {
			max-width: 800px;
			margin: 0 auto;
			color: #fff;
			h2 {
				color: #fff;
			}
			p {
				font-size: 1.2em;
				font-weight: 300;
			}
			strong {
				font-size: 1.3em;
				color: #fff;
				font-weight: 600;
			}
			a {
				color: #fff;
			}
		}
		//Expertise page styles
		&.expertise {
			padding: 0;
			.container {
				.background {
					.overlay {
						padding: 4em 2em;
					}
				}
			}
		}
	}
	.main {
		.container {
			padding: 2em;			
			max-width: 1030px;
			color: $dkgray;
			p {
				font-weight: 300;
				font-size: 1.2em;
				margin-bottom: 1em;
			}
			.first, .second, .third, .fourth {
				margin-bottom: 4em;
				.img {
					width: 100%;
					height: 250px;
					min-height: 250px;
					background-size: 100%;
					background-position: center center;
					background-repeat: no-repeat;
					margin-bottom: 1em;
				}
				.text {
					width: 100%;
					div {
						img {
							height: 70px;
							width: auto;
							padding: 1em;
						}
					}
					h2 {
						font-size: 2em;
						line-height: 120%;
						font-weight: 700;
						margin-bottom: .75em;
						color: $brdeeppurple;
					}
					h3 {
						font-size: 1.5em;
						color: $brnavblue;
					}
					h4 {
						color: $brnavblue;
						font-size: 1.2em;
						margin-bottom: 1em;
					}
					ul, ol {
						list-style: none;
						text-align: left;
						margin-left: 2em;
						font-weight: 300;
						font-size: 1.2em;
						li {
							position: relative;
							margin-bottom: .5em;
							//padding-left: 2em;
							&:before {
								top: 0;
								left: 20px;
								position: absolute;
								content: "\2022";
								color: $brnavblue;
								margin-left: -1em;
								font-size: 36px;
								line-height: 24px;
							}
							&:last-of-type {
								margin-bottom: 0;
							}
						}
						ul, ol {
							font-size: 1em;
						}
					}
					strong {
						color: $dkgray;
					}
					a {
						text-decoration: underline;
						font-weight: 600;
						&.blue-btn {
							text-decoration: none;
						}
					}
				}
				.solution-buttons {
					max-width: 100%;
					width: 100%;
					ul {
						max-width: 768px;
						text-align: center;
						list-style: none;
						margin: 0 auto;
						li {
							display: inline-block;
							a {
								text-decoration: none;
								font-size: .85em;
								font-weight: 400;
							}
							&:before {
								content: none;
							}
						}
						ul {
							display: none;
						}
					}
				}
			}
		}
		#first, #second, #third, #fourth {
			display: block;
			position: relative;
			top: -75px;
			visibility: hidden;
		}
		#cta {
			.text {
				width: 100%;
				font-size: 1.2em;
				color: $brdeeppurple;
				p {
					font-weight: 700;
				}
				//text-align: center;
				a.blue-btn {
					display: table;
					margin-top: 1em;
					text-decoration: none;
					padding: .5em .75em;
					//font-size: 1.3em;
				}
				img {
					padding: 1em;
				}
			}
		}
		.nav-buttons, .solution-buttons {
			max-width: 768px;
			margin: 0 auto;
			ul {
				li {
					display: inline-block;
					margin: 1.25em .5em;
					a {
						border-radius: 5px;
						background: $brdeeppurple;
						color: #fff;
						padding: .5em 1em;
						&:hover {
							background: darken($brdeeppurple, 5%);
						}
					}
				}
			}
		}
		.solution-buttons {
			ul {
				li {
					a {
						background: $brnavblue;
						&:hover {
							background: darken($brnavblue, 5%);
						}
					}
				}
			}
		}
		// Expertise page styles
		&.expertise {
			background: $brnavblue;
			.first {
				margin-bottom: 0;
			}
			.second {
				.container {
					p {
						margin: 2em auto;
					}
				}
			}
			.container {
				color: #fff;
				p {
					color: #fff;
				}
				h3 {
					font-size: 1.5em;
					font-weight: 300;
					margin-bottom: 1em;
				}
			}
		}
	}
	&.page-id-165 {
		article.section {
			.content {
				strong {
					font-size: 1em;
				}
			}
		}
		.first {
			.text {
				strong {
					color: #fff;
				}
			}
		}
	}
	table {
		h3 {
			font-weight: 800;
			margin-top: 1.5em;
			margin-bottom: .5em;
		}
		h4 {
			margin-top: 1em;
			margin-bottom: .5em;
			font-weight: 800;
		}
		td {
			//border: 1px solid darken($light-gray, 10%);
			display: block;
			padding: .25em;
			//padding: 1em;
			p {
				//font-size: 1em!important;
			}
		}
	}
	&.page-id-489 {
		table {
			td {
				padding: 1em;
				display: table-cell;
			}
		}
	}
}

/* Expertise */
.page-template-expertise {
	article.section {
		@include mods;
		.container {
			.background {
				.overlay {
					.entry-content {
						max-width: 900px;
					}
				}
			}
		}
	}
	.main {
		.container {
			@include mods;
			padding: 1em;
			.first {
				color: $brnavblue;
				h2 {
					font-size: 2em;
				}
				strong {
					color: $brnavblue;
				}
				.columns {
					.column {
						text-align: center;
						.img {
							width: 214px;
							height: 214px;
							border-radius: 100%;
							background-size: cover;
							background-position: center center;
							margin: 1em auto 2em auto;
						}
					}
				}
			}
		}
	}
	.second {
		padding: 1em 1em 2em 1em;
		background: $brnavblue;
		color: #fff;
		@include mods;
		.container {
			h2 {
				text-align: center;
			}
			strong {
				color: #fff;
			}
			p {
				text-align: center;
			}
		}
	}
	.third {
		padding: 1em;
		@include mods;
		background-color: $light-gray;
		.container {
			color: $brnavblue;
			text-align: center;
			h2 {
				//text-align: center;
				font-size: 2em;
				font-weight: 700;
			}
			strong {
				color: $brnavblue;
			}
		}
	}
}

/* Culture */
.page-template-culture {
	article.section {
		padding: 0;
		.container {
			max-width: 100%;
			.background {
				.overlay {
					padding: 3em 1em;
					.entry-content {
						strong {
							color: #fff;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
	.main {
		clear: both;
		overflow: auto;
		.container {
			padding: 0 0 3em 0;
			overflow: auto;
			.first {
				margin-bottom: 0;
				padding: 2em;
				//background: $brnavblue;
				color: $brnavblue;
				strong {
					color: $brnavblue;
				}
				h1, h2 {
					color: $brnavblue;
					text-align: center;
					line-height: 120%;
				}
				.entry-header {
					margin-bottom: 2em;
					p {
						font-size: 1.2em;
						font-weight: 300;
					}
				}
				.columns {
					.column {
						@include flex;
						@include flexCol;
						.img {
							@include flexOrder(1);
						}
						.text {
							margin-top: 1em;
							@include flexOrder(2);
						}
					}
				}
				.img {
					height: 300px;
					width: 100%;
					background-size: cover;
					background-position: center center;
				}
				.text {
					font-weight: 300;
					ul {
						padding-top: 2em;
						font-size: 1em;
						margin: 0;
						list-style: none;
						li {
							overflow: auto;
							padding-bottom: 2em;
							h2 {
								border: 2px solid #fff;
								border-radius: 100px;
								width: 130px;
								height: 130px;
								text-align: center;
								font-size: 8em;
								float: left;
								line-height: 100%;
								margin: 0 .2em .2em 0em;
								font-weight: 600;
								padding: .13em .25em 0 .25em;
							}
							h3 {
								font-size: 1.5em;
								font-weight: 600;
								line-height: 120%;
								margin-bottom: .15em;
							}
							&:last-of-type {
								padding-bottom: 1em;
							}
						}
					}
				}
			}
		}
	}
	.fourth {
		//@include mods;
		padding: 2em;
		background: $brnavblue;
		color: #fff;
		.text {
			text-align: center;
			a.button {
				background: $brgreen;
				&:hover {
					color: #fff;
					background: darken($brgreen, 5%);
				}
			}
			h2 {
				font-size: 2em;
				margin-top: 0;
				font-weight: 600;
				margin-bottom: .75em;
			}
			p {
				font-weight: 300;
				font-size: 1.2em;
			}
		}
		.columns {
			.valmain {
				height: 300px;
				width: 100%;
				background-size: cover;
				background-position: center center;
				border-radius: 3px;
			}
			.valgrid {
				padding: 1em 0;
				@include flex;
				@include flexWrap;
				.col {
					border-radius: 3px;
					background-size: cover;
					background-position: center center;
					margin: 1em;
					padding: 2em;
					width: 100%;
					@include flexSize(0 1 auto);
					.text {
						background: rgba(0,0,0,0.5);
						height: 200px;
						@include flex;
						@include justifyContent(center);
						@include flexCol;
						h3 {
							font-weight: 300;
							font-size: 1.5em;
						}
						.front {
							display: none;
						}
						.back {
							display: block;
							padding: 1em;
							p {
								font-size: .9em;
								margin-top: 1em;
							}
						}
					}
				}
			}
		}
	}
}

.subnav-buttons {
	background: $dkgray;
	padding: 2em;
	li {
		display: inline-block;
		list-style: none;
		a {
			border-radius: 3px;
			margin: 1em;
			background: #fff;
			color: $brnavblue;
			padding: .5em 1em;
			font-weight: 600;
			margin: .5em;
			display: block;
		}
	}
}

.clearfix {
	clear: both;
}

/* Single */

.single {
	.card {
		.card-content {
			min-height: auto!important;
		}
		.entry-content {
			padding: 20px;
		}
	}
}

/* Footer */
footer {
	clear: both;
	.container {
		.hero-body {
			.site-info {
				.menu {
					text-align: center;
					a {
						font-size: .9em;
						margin: .5em;
						font-weight: 600;
					}
				}
				.contact {
					position: relative;
					margin-top: 1em;
					@include flex;
					@include flexAlign(center);
					@include justifyContent(center);
					a {
						font-size: .9em;
						margin: .5em;
						&.button {
							background: $brnavblue;
							border: 0px;
							color: #fff;
							&:hover {
								background: darken($brnavblue, 5%);
							}
						}
					}
					.mailing-list-form {
						padding: 0 2em;
						width: 100%;
						max-width: 250px;
						position: absolute;
						display: none;
						background: #fff;
						border: 2px solid rgba($brblue, 0.4);
						bottom: 50px;
						right: 0;
						@include forms;
						.mailing-list-closer {
							top: 0px;
							right: 0px;
							width: 18px;
							padding: 3px 5px;
							background-color: rgba($brblue, 0.4);
							color: $brnavblue;
							position: absolute;
							cursor: pointer;
						}
						.gform_wrapper {
							ul.gform_fields {
								li.gfield {
									display: block;
									label {
										width: 100%;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}