/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $white!important;
  //font-size: 0.9em;
  //font-size: 34px;
  //line-height: 34px;
  font-weight: normal;
  text-align: center;
  font-weight: 600;
  padding: .7em 1em;
  //border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button

.green-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $brgreen;
  border-bottom: 0!important;
  padding: .5em 1.5em;
  font-size: 14px;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: darken($brgreen, 4%);
  } // end hover

  &:active {
    background-color: darken($brgreen, 5%);
  } // end active

} // end blue button

.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $brnavblue;
  border-bottom: 0!important;
  padding: .5em 1.5em;
  font-size: 14px;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: darken($brnavblue, 4%);
  } // end hover

  &:active {
    background-color: darken($brnavblue, 5%);
  } // end active

} // end blue button

.white-btn {
  @extend %btn; // here we load the btn defaults
  background-color: #fff;
  border-bottom: 0!important;
  padding: .5em 1.5em;
  font-size: 14px;
  border-radius: 5px;
  color: $brnavblue!important;

  &:hover,
  &:focus {
    background-color: darken(#fff, 4%);
  } // end hover

  &:active {
    background-color: darken(#fff, 5%);
  } // end active

} // end blue button

.red-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $red;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  &:hover,
  &:focus {
    background-color: darken($red, 4%);
  } // end hover

  &:active {
    background-color: darken($red, 5%);
  } // end active
} // end red button

.purple-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $brdeeppurple;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  &:hover,
  &:focus {
    background-color: darken($brdeeppurple, 4%);
  } // end hover

  &:active {
    background-color: darken($brdeeppurple, 5%);
  } // end active
} // end red button