/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/


/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit-", "" );
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

@mixin flex {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin grid($flex) {
	@if $flex {
		@include flex;
	} @else {
		display: block;
	}
}

@mixin flexCenter {
	align-items: center;
	text-align: center;
	justify-content: center;
}

@mixin alignCenter {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flexCol {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flexRow {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flexWrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin headingTextShadow {
	text-shadow: 0px 5px 10px #000;
}

@mixin centerBg {
	background-size: cover;
	background-position: center center;
}

@mixin flexAlign($position) {
	-webkit-align-items: $position;
    -ms-flex-align: $position;
    align-items: $position;
}

@mixin alignSelf($position) {
	align-self: $position;
}

@mixin flexSize($size) {
	-webkit-flex: $size;
    -ms-flex: $size;
    flex: $size;
}

@mixin flexOrder($order) {
	-webkit-order: $order;
    -ms-flex-order: $order;
    order: $order;
}

@mixin alignContent($position) {
	-webkit-align-content: $position;
    -ms-flex-line-pack: $position;
    align-content: $position;
}

@mixin justifyContent($position) {
	-webkit-justify-content: $position;
    -ms-flex-pack: $position;
    justify-content: $position;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin bottomBoxShadow {
	-moz-box-shadow: inset 0 -200px 200px -130px #000000;
	-webkit-box-shadow: inset 0 -200px 200px -130px #000000;
	box-shadow: inset 0 -200px 200px -130px #000000;
}

/* Layout Modifications for Reusable Template Parts */

@mixin mods {
	h2 {
		font-size: 2.25em;
		margin-top: 1em;
		margin-bottom: 0;
		font-weight: 300;
		margin-bottom: .25em;
	}
	h3 {
		font-weight: 300;
		font-size: 1.75em;
		margin-bottom: .25em;
	}
	p {
		margin-bottom: 1em;
		font-size: 1.2em;
		font-weight: 300;
		line-height: 150%;
	}
	ul {
		list-style: disc;
		padding-left: 2em;
		li {
			line-height: 150%;
			font-size: 1.1em;
			font-weight: 300;
			margin-bottom: 1em;
			&:last-of-type {
				margin: 0;
			}
		}
	}
	@media (min-width: 768px) {
		h2 {
			font-size: 3em;
			line-height: 125%;
		}
		h3 {
			font-size: 2em;
			line-height: 125%;
		}
	}
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin flipper {
	@media (min-width: 1030px) {
	.flip-container {
		perspective: 1000px;
	}
		/* flip the pane when hovered */
		.flip-container:hover .flipper, .flip-container.hover .flipper {
			transform: rotateY(180deg);
		}

	.flip-container, .front, .back {
		width: 100%;
		height: 340px;
	}

	/* flip speed goes here */
	.flipper {
		transition: 0.6s;
		transform-style: preserve-3d;

		position: relative;
	}

	/* hide back of pane during swap */
	.front, .back {
		backface-visibility: hidden;

		position: absolute;
		top: 0;
		left: 0;
	}

	/* front pane, placed above back */
	.front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateY(0deg);
	}

	/* back, initially hidden pane */
	.back {
		transform: rotateY(180deg);
	}
	@media all and (-ms-high-contrast:none) {
		.flip-container {
			perspective: 1000px;
		}
			/* flip the pane when hovered */
			.flip-container:hover .flipper, .flip-container.hover .flipper {
				transform: none;
				.back {
					opacity: 100;
				}
				.front {
					opacity: 0;
				}
			}
	
		.flip-container, .front, .back {
			width: 100%;
			height: 340px;
		}
	
		/* flip speed goes here */
		.flipper {
			transition: 0.6s;
			transform-style: preserve-3d;
	
			position: relative;
		}
	
		/* hide back of pane during swap */
		.front, .back {
			backface-visibility: auto;
			position: absolute;
			top: 0;
			left: 0;
			@include transition(.4s all);
		}
	
		/* front pane, placed above back */
		.front {
			z-index: 2;
			/* for firefox 31 */
			transform: none;
		}
	
		/* back, initially hidden pane */
		.back {
			z-index: 3;
			opacity: 0;
			transform: none;
		}
	}
	}
}

@mixin forms {
	.gform_wrapper {
		.gform_heading {
			text-align: center;
			h3 {
				font-size: 2.25em;
				font-weight: 300;
				color: $brnavblue;
			}
			//display: none;
		}
		.gform_body {
			label {
				color: $brnavblue;
			}
			input, textarea {
				background: rgba($brnavblue, 0.5);
				border: 0px;
				border-radius: 3px;
				padding: 10px!important;
			}
			select[multiple=multiple] {
				border: 0px;
				border-radius: 0;
				padding: 0;
				overflow: hidden;
				background: transparent;
				height: 240px!important;
				option {
					color: $dkgray;
					background: rgba($brnavblue, 0.5);
					margin-bottom: .5em;
					border-radius: 3px;
					padding: 10px 14px!important;
					font-weight: 300;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
			select:not([multiple]) {
				height: auto!important;
				padding: 10px;
				border-radius: 3px;
				background: rgba($brnavblue, 0.5);
				color: #fff;
			}
		}
		.gform_footer {
			input[type="submit"] {
				background: $brnavblue;
				border: 0;
				color: #fff;
				&:hover {
					background: darken($brnavblue, 5%);
				}
			}
		}
	}
	@media (min-width: 768px) {
		.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
			width: 100%;
		}
			.gform_wrapper {
				margin: 0 auto;
				max-width: 450px;
				width: 100%;
				ul.gform_fields {
					li.gfield {
						@include flex;
						label {
							margin-top: 20px;
							width: 140px;
							&.gfield_label_before_complex {
							// width: 155px;
							}
						}
					span.name_last {
						padding-right: 0;
					}
				}
			}
			.field_sublabel_below {
				.ginput_complex.ginput_container {
					label {
						margin-top: 4px;
						width: auto;
					}
				}
			}
			.top_label {
				div.ginput_container {
					width: 100%;
				}
			}
			.gform_footer {
				input[type="submit"] {
					padding: .5em 1.5em;
					margin-left: 107px;
					font-size: .9em;
				}
			}
		}
	}
}